---
import { Image } from "astro:assets";
import aboutImage1 from "../assets/about-1.png";
import aboutImage2 from "../assets/about-2.png";
import Button from "./Button.astro";
import Marquee from "./Marquee.astro";

const hobbies = [
  "I play games",
  "Motorcycle rides",
  "I learn piano",
  "Watching anime",
];

const experiences = [
  {
    period: "2023 - present",
    title: "Full-stack Developer",
    company: "Bapplware Technologies, Inc",
  },
  {
    period: "2021 - 2023",
    title: "Full-stack Developer",
    company: "GEER IT Solutions",
  },
  {
    period: "2020 - 2021",
    title: "Web Developer",
    company: "My Solid Technologies & Devices Corp.",
  },
  {
    period: "2016 - 2020",
    title: "Web Developer",
    company: "Digima Web Solutions",
  },
];
---

<section id="about" class="bg-brand-accent py-6">
  <!-- Marquee Text -->
  <Marquee />

  <div class="container">
    <!-- Two Column Grid -->
    <div class="flex flex-col lg:flex-row gap-8 md:gap-12 items-start">
      <!-- Left Column - Images -->
      <div class="flex flex-col gap-6 relative shrink-0 w-full lg:w-[425px]">
        <!-- Section Title -->
        <h2
          class="text-brand-dark font-black text-4xl md:text-5xl lg:text-6xl mb-8 md:mb-12 text-center lg:text-right"
        >
          <div>About</div>
          <div>Me</div>
        </h2>
        <div class="flex justify-center lg:block">
          <div class="overflow-hidden">
            <Image
              src={aboutImage1}
              alt="Edward Guevarra"
              width={237}
              height={414}
              loading="lazy"
              class="w-[237px] h-[414px] object-cover ml-auto"
            />
          </div>
          <div class="overflow-hidden mt-0 lg:-mt-50">
            <Image
              src={aboutImage2}
              alt="Edward Guevarra"
              width={237}
              height={414}
              loading="lazy"
              class="w-[237px] h-[414px] object-cover"
            />
          </div>
        </div>
      </div>

      <!-- Combined Column - Biography, Experience Timeline, Hobbies, and Job Roles -->
      <div class="flex flex-col gap-6 md:gap-16 pt-0 lg:pt-47">
        <!-- Two Column Grid for Biography and Hobbies -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <!-- Biography Column -->
          <div class="text-brand-dark text-sm md:text-base leading-relaxed">
            <p>
              Hey there! I'm Edward Guevarra, a senior full-stack developer
              based in Bulacan, Philippines. My journey into coding started with
              an early fascination for how things work behind the scenes. I've
              always had a passion for building, whether it's crafting elegant
              solutions or bringing ideas to life through code. Over the years,
              I've honed my skills through various projects and collaborations,
              constantly learning and adapting to new technologies and
              challenges.
            </p>
          </div>

          <h2
            class="block my-6 md:hidden text-brand-dark font-black text-4xl md:text-5xl lg:text-6xl md:mb-12 text-center lg:text-right"
          >
            Bio
          </h2>

          <!-- Hobbies Column -->
          <div>
            <div class="grid grid-cols-2 gap-6 md:flex md:flex-col md:gap-6">
              {
                hobbies.map((hobby) => (
                  <Button text={hobby} class="w-full md:w-auto md:ml-auto" />
                ))
              }
            </div>
          </div>
        </div>

        <h2
          class="block my-6 md:hidden text-brand-dark font-black text-4xl md:text-5xl lg:text-6xl text-center lg:text-right"
        >
          Experiences
        </h2>

        <!-- Experience Timeline and Job Roles Paired -->
        <div class="grid grid-cols-2 gap-6 md:space-y-4 md:block">
          {
            experiences.map((experience) => (
              <div class="flex flex-col md:flex-row gap-4 items-center justify-between">
                <Button class="w-full md:w-auto" text={experience.period} />
                <div class="space-y-1 text-center md:text-right">
                  <div class="text-brand-dark font-bold text-sm md:text-base">
                    {experience.title}
                  </div>
                  <div class="text-brand-dark text-sm md:text-base">
                    {experience.company}
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
